<style>
    body{
        background-image: url("https://t4.ftcdn.net/jpg/05/49/86/39/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .btn{
        margin-left: 10px;
    }
</style>

<div class="d-flex home" style="margin-top: 200px;">
    <a class="btn btn-primary" href="/jobs" role="button" style="height: fit-content;">I'm a Job Seeker</a>
    <a class="btn btn-primary" href="/register" role="button" style="height: fit-content;">I'm a Recruiter</a>
</div>
